
@{
    Layout = null;
    if (Session["brojIndeksa"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
}
 <!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
     @{string ime = Session["BrojIndeksa"].ToString(); }
     @{string prezime = Session["BrojIndeksa1"].ToString(); }
        <h1>Korisnička stranica servisa za prijavu ispita</h1>
        <h3>Dobro dosli @ime  @prezime</h3>  
        <a href="@Url.Action("Logout","Login")">Odjava</a>    </div>
</body>
</html>
